{% extends 'client_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">{{ 'My reservation'|trans }}</h3>
                </div>
                <div class="table-responsive">
                    <form action="{{ path('user_reservation') }}" method="get">
                        <div class="col-4 pt-4 float-right">
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                    </div>
                                    <input class="form-control" autocomplete="off" name="search" placeholder="{{ 'Search'|trans }}"
                                           type="text" value="{{ app.request.get('search', null) }}">
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">{{ knp_pagination_sortable(reservations, 'Requested Book'|trans, 'book.title') }}</th>
                            <th scope="col">{{ knp_pagination_sortable(reservations, 'Borrowing Date'|trans, 'r.startBorrowingDate') }}</th>
                            <th scope="col">{{ knp_pagination_sortable(reservations, 'Requested Quantity'|trans, 'r.requestedQuantity') }}</th>
                            <th scope="col">{{ knp_pagination_sortable(reservations, 'Borrowed Quantity'|trans, 'r.borrowedQuantity') }}</th>
                            <th scope="col">{{ knp_pagination_sortable(reservations, 'Status'|trans, 'c.status') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" width="200"
                                                 src="{{ vich_uploader_asset(reservation.book, 'coverFile')|default(asset('assets/img/icons/no-cover.png')) }}">
                                        </a>
                                        <div class="media-body">
                                            <a class="text-darker" href="{{ path('book_shop_show', {'id': reservation.book.id}) }}">
                                                <span class="mb-0 text-sm">{{ reservation.book.title|truncate(20) }}</span>
                                                <p class="mb-0 text-sm">{{ reservation.book.description|truncate(20) }}</p>
                                            </a>

                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <span class="text-sm">
                                    <i class="far fa-calendar-alt"></i>
                                    {{ reservation.startBorrowingDate ? reservation.startBorrowingDate|date('Y-m-d') : '---' }}
                                    </span>
                                    <i class="fas fa-arrow-right"></i>
                                    <span class="text-sm">
                                        <i class="far fa-calendar-alt"></i>
                                        {{ reservation.endBorrowingDate ? reservation.endBorrowingDate|date('Y-m-d') : '---' }}
                                    </span>
                                </td>
                                <td>
                                    {{ reservation.requestedQuantity }} {{ 'Book'|trans }}
                                </td>
                                <td>
                                    {% if reservation.borrowedQuantity is null %}
                                        ---
                                    {% else %}
                                        {{ reservation.borrowedQuantity }} {{ 'Book'|trans }}
                                    {% endif %}
                                </td>
                                <td>
                                  <span class="badge badge-md badge-dot mr-4">
                                      {% if reservation.status is constant('App\\Entity\\Reservation::IN_PENDING') %}
                                          <span class="badge badge-info"> {{ reservation.status|trans }} </span>
                                      {% elseif reservation.status is constant('App\\Entity\\Reservation::REFUSED') %}
                                          <span class="badge badge-danger"> {{ reservation.status|trans }} </span>
                                      {% else %}
                                          <span class="badge badge-primary"> {{ reservation.status|trans }} </span>
                                      {% endif %}
                                  </span>
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="6" class="text-center">{{ 'No records found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="..." class="float-right">
                        {{ knp_pagination_render(reservations) }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}