{{ form_start(form) }}
<div class="card-body">
    {{ form_row(form.coverFile) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.author) }}
        </div>
    </div>
    {{ form_row(form.description) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.publishDate) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.quantity) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.isbn) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.section) }}
        </div>
    </div>


    {{ form_widget(form) }}
</div>
<div class="card-footer">
    <button class="btn btn-primary" type="submit">
        <i class="fas fa-check"></i> {{ 'Save'|trans }}
    </button>
</div>
{{ form_end(form) }}