{% extends 'client_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-2">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ 'Reservations'|trans }}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pt-2">
                        {% for reservation in reservations %}
                            <div class="row align-items-center pb-2">
                                <div class="col-auto">
                                    <i class="ni ni-chart-pie-35"></i>
                                </div>
                                <div class="col ml--2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h4 class="mb-0 text-sm">{{ reservation.status|trans|capitalize }}</h4>
                                        </div>
                                    </div>
                                    <p class="text-sm mb-0">{{ reservation.reservedBooks|default('---') }} {{ 'Book'|trans }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="col ml--2">
                                <p class="text-sm mb-0">{{ 'No reservations existe'|trans }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ 'Account'|trans }}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">{{ 'User information'|trans }}</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="ni ni-single-02"></i>
                                    </div>
                                    <div class="col ml--2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="mb-0 text-sm">{{ 'Username'|trans }}</h4>
                                            </div>
                                        </div>
                                        <p class="text-sm mb-0">{{ user.username }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="ni ni-email-83"></i>
                                    </div>
                                    <div class="col ml--2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="mb-0 text-sm">{{ 'Email address'|trans }}</h4>
                                            </div>
                                        </div>
                                        <p class="text-sm mb-0">{{ user.email }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="ni ni-single-02"></i>
                                    </div>
                                    <div class="col ml--2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="mb-0 text-sm">{{ 'First name'|trans }}</h4>
                                            </div>
                                        </div>
                                        <p class="text-sm mb-0">{{ user.firstName|default('No data'|trans) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="ni ni-single-02"></i>
                                    </div>
                                    <div class="col ml--2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="mb-0 text-sm">{{ 'Last name'|trans }}</h4>
                                            </div>
                                        </div>
                                        <p class="text-sm mb-0">{{ user.lastName|default('No data'|trans) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-12">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="ni ni-calendar-grid-58"></i>
                                    </div>
                                    <div class="col ml--2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="mb-0 text-sm">{{ 'Birthday'|trans }}</h4>
                                            </div>
                                        </div>
                                        <p class="text-sm mb-0">{{ user.birthday|date('d/m/yy')|default('No data'|trans) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4"/>
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">{{ 'Contact information'|trans }}</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="ni ni-world"></i>
                                    </div>
                                    <div class="col ml--2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="mb-0 text-sm">{{ 'Address'|trans }}</h4>
                                            </div>
                                        </div>
                                        <p class="text-sm mb-0">{{ user.address|default('No data'|trans) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-12">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="ni ni-mobile-button"></i>
                                    </div>
                                    <div class="col ml--2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 class="mb-0 text-sm">{{ 'Phone'|trans }}</h4>
                                            </div>
                                        </div>
                                        <p class="text-sm mb-0">{{ user.phone|default('No data'|trans) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}